ROOTDIRS=/content
echo "日本時間変更開始root"
mv /etc/localtime /etc/localtime.org
ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
date
echo "日本時間変更終了root"
echo "コメントリセット設定ファンクションの定義"
comsetbkup() {
 cmmestr=`echo "${1}"|perl -pe 's/([\.]|[\-]|[\$]|[\/]|[\:]|[\[]|[\]][\(]|[\)])/\\\\$1/g'`
 setstr=$2
 files=$3
 backups=$4
 perl -pi -e "s/^(${cmmestr}.*)\$/\#\${1}/g" $files
 cp $files $backups
 echo "${setstr}" >> $files
}

echo "コメントリセット設定ファンクションの定義終了"
echo "日本語ローケルインストールと変更設定開始root"

apt-get -qq install language-pack-ja
cat /etc/locale.gen | egrep '^[^\#]+.*$'

mkdir ${ROOTDIRS}/etc
cmmeStr="ja_JP.UTF-8 UTF-8"
comsetbkup "$cmmeStr" "$cmmeStr" /etc/locale.gen /etc/locale.gen.bak
 
cat /etc/locale.gen | egrep '^[^\#]+.*$'

locale-gen
update-locale

cmmeStr="export LANG=ja_JP.UTF-8"
export LANG=ja_JP.UTF-8
comsetbkup "$cmmeStr" "$cmmeStr" /root/.bashrc ${ROOTDIRS}/.bashrc.root
echo "日本語ローケルインストールと変更設定終了root"
echo "環境変数の書き出し${ROOTDIRS}/.env.root"
env > ${ROOTDIRS}/.env.root
echo "環境変数の書き出し終了${ROOTDIRS}/.env.root"
cat <<MSGEOF
#Colabでは以下を実行してください
from shlex import quote as fクート
環境変数格納 = !cat ${ROOTDIRS}/.env.root
for 個々の環境変数定義 in  環境変数格納 :
      個々の環境変数定義=fクート(個々の環境変数定義)
      %set_env $個々の環境変数定義
MSGEOF
