ROOTDIRS=/content
export PWD=${ROOTDIRS}
cd ${ROOTDIRS}
printf "ｓｓｈ設定とログインシェル設定開始\n"
echo "コメントリセット設定ファンクションの定義"
function comsetbkup() {
 cmmestr=`echo "${1}"|perl -pe 's/([\.]|[\-]|[\$]|[\/])/\\\\$1/g'`
 setstr=$2
 files=$3
 backups=$4
 perl -pi -e "s/^(${cmmestr}.*)\$/\#\${1}/g" $files
 cp $files $backups
 echo "${setstr}" >> $files
}
echo "コメントリセット設定ファンクションの定義終了"
echo "ユーザ追加開始"
userdel ${ENGBJ_anata}
rm -r ${ROOTDIRS}/${ENGBJ_anata}
echo "root/.bashrcリロード開始"
source /root/.bashrc
echo "root/.bashrcリロード終了"
echo "PWDを${ROOTDIRS}に変更"
export PWD=${ROOTDIRS}
cd ${ROOTDIRS}

echo "ユーザ追加開始"
rm -fr ${ROOTDIRS}/${ENGBJ_anata}
printf "\n\n\n\n\n" | adduser --home ${ROOTDIRS}/${ENGBJ_anata} --disabled-login ${ENGBJ_anata}
usermod -G sudo ${ENGBJ_anata}
id ${ENGBJ_anata}
chmod -r 777 ${ROOTDIRS}/${ENGBJ_anata}
echo "ユーザ追加終了"
echo "日本語ローケル変更開始ユーザ"
cd ${ROOTDIRS}/${ENGBJ_anata}

cmmeStr="export LANG=ja_JP.UTF-8"
comsetbkup "$cmmeStr" "$cmmeStr" ${ROOTDIRS}/${ENGBJ_anata}/.bashrc ${ROOTDIRS}/.bashrc.${ENGBJ_anata}
chmod 777 ${ROOTDIRS}/${ENGBJ_anata}/.bashrc

echo "日本語ローケル変更終了ユーザ　バックアップ:${ROOTDIRS}/.bashrc.${ENGBJ_anata}"

echo "インストール開始"
cd ${ROOTDIRS}
wget -qq https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.tgz
rm -f ./ngrok
tar xzvf ./ngrok-v3-stable-linux-amd64.tgz
rm -f ./ngrok-v3-stable-linux-amd64.tgz
apt-get install -yf -qq \
  openssh-server pwgen\
    net-tools iproute2\
      x11-apps aterm tigervnc-standalone-server fluxbox\
       novnc
apt-get upgrade
echo "インストール終了"
