ROOTDIRS=/content
export PWD=${ROOTDIRS}
cd ${ROOTDIRS}
printf "ｓｓｈログインパスワードを設定してください覚えておいて下さい\n"
passwd ${ENGBJ_anata}
printf "ｓｓｈ設定とログインシェル設定開始\n"
echo "コメントリセット設定ファンクションの定義"
function comsetbkup() {
 cmmestr=`echo "${1}"|perl -pe 's/([\.]|[\-]|[\$]|[\/]|[\:]|[\[]|[\]][\(]|[\)])/\\\\$1/g'`
 setstr=$2
 files=$3
 backups=$4
 perl -pi -e "s/^(${cmmestr}.*)\$/\#\${1}/g" $files
 cp $files $backups
 echo "${setstr}" >> $files
}
echo "コメントリセット設定ファンクションの定義終了"

mkdir -p /var/run/sshd
cmmStr="PasswordAuthentication yes"
comsetbkup "$cmmStr" "$cmmStr" /etc/ssh/sshd_config /etc/ssh/sshd_config.bak
cmmStr="Port "
comsetbkup "$cmmStr" "Port ${ENGBJ_Port}" /etc/ssh/sshd_config /etc/ssh/sshd_config.bak.2
cat /etc/ssh/sshd_config | egrep '^[^\#]+.*$'
cmsStrNidia="LD_LIBRARY_PATH=/usr/lib64-nvidia"
comsetbkup "$cmsStrNidia" "$cmsStrNidia" /root/.bashrc /root/.bashrc.bak
 
cmsStrLdLP="export LD_LIBRARY_PATH"
comsetbkup "$cmsStrLdLP" "$cmsStrLdLP" /root/.bashrc /root/.bashrc.bak.2

comsetbkup "export DISPLAY" "export DISPLAY:99.0" /root/.bashrc /root/.bashrc.bak.3
comsetbkup "$cmsStrNidia" "$cmsStrNidia" ${ROOTDIRS}/${ENGBJ_anata}/.bashrc ${ROOTDIRS}/${ENGBJ_anata}/.bashrc.bak
 
comsetbkup "$cmsStrLdLP" "$cmsStrLdLP" ${ROOTDIRS}/${ENGBJ_anata}/.bashrc ${ROOTDIRS}/${ENGBJ_anata}/.bashrc.bak.2
comsetbkup "export DISPLAY" "export DISPLAY:99.0" ${ROOTDIRS}/${ENGBJ_anata}/.bashrc ${ROOTDIRS}/${ENGBJ_anata}/.bashrc.bak.3

ln -sf `which sshd` ${ROOTDIRS}/${ENGBJ_anata}/kogule
printf "ｓｓｈ設定とログインシェル設定終了\n"

printf "小暮とグロッキーのプロセス切る\n"
killall kogule
killall grocky
printf "小暮とグロッキーのプロセス切る終了\n"

printf "ＮＧＲＯＫ設定開始\n"
chmod 777 /content/${ENGBJ_anata}/ngrok
ln -sf ${ROOTDIRS}/${ENGBJ_anata}/ngrok ${ROOTDIRS}/${ENGBJ_anata}/grocky
${ROOTDIRS}/${ENGBJ_anata}/grocky --config ${ROOTDIRS}/${ENGBJ_anata}/grocky.yml config add-authtoken $ENGBJ_token
if [ "$ENGBJ_simasu"= "します" ]; then
${ROOTDIRS}/${ENGBJ_anata}/grocky --config ${ROOTDIRS}/${ENGBJ_anata}/grockysimasu.yml config add-authtoken $ENGBJ_simasutoken
fi
printf "ＮＧＲＯＫ設定終了\n"

printf "グロッキー起動設定：ポート${ENGBJ_Port}\n"
printf "グロッキー起動設定しました：ポート${ENGBJ_Port}\n"
env | grep "ENGBJ" | sort
echo "*********************"
echo "ｓｓｈデーモンとグロッキーデーモン起動はこれです"
printf "bash -c '${ROOTDIRS}/${ENGBJ_anata}/kogule -D &'\n"
printf "bash -c '${ROOTDIRS}/${ENGBJ_anata}/grocky --config /content/${ENGBJ_anata}/grocky.yml  http ${ENGBJ_WWWPort} &'\n"
if [ "$ENGBJ_simasu"= "します" ]; then
printf "bash -c '${ROOTDIRS}/${ENGBJ_anata}/grocky --config /content/${ENGBJ_anata}/grockysimasu.yml  tcp ${ENGBJ_Port} &'\n"
fi
echo "ｓｓｈデーモンとグロッキーデーモン起動はこれです終了"
