printf "ｓｓｈ設定とログインシェル設定開始\n"

mkdir -p /var/run/sshd
#echo "PermitRootLogin yes" >> /etc/ssh/sshd_config
echo "PasswordAuthentication yes" >> /etc/ssh/sshd_config
echo "Port ${ENGBJ_Port}" >> /etc/ssh/sshd_config
cat /etc/ssh/sshd_config | egrep '^[^\#]+.*$'

echo "LD_LIBRARY_PATH=/usr/lib64-nvidia" >> /root/.bashrc
echo "export LD_LIBRARY_PATH" >> /root/.bashrc
echo "LD_LIBRARY_PATH=/usr/lib64-nvidia" >> /content/${ENGBJ_anata}/.bashrc
echo "export LD_LIBRARY_PATH" >> /content/${ENGBJ_anata}/.bashrc
ln -sf /usr/sbin/sshd /content/${ENGBJ_anata}/kogule
printf "ｓｓｈ設定とログインシェル設定終了\n"

printf "ＮＧＲＯＫ設定開始\n"
ln -sf /content/${ENGBJ_anata}/ngrok /content/${ENGBJ_anata}/grocky
sudo --user=${ENGBJ_anata} /content/${ENGBJ_anata}/grocky --config /content/${ENGBJ_anata}/grocky.yml config add-authtoken $ENGBJ_token
chmod 777 /content/${ENGBJ_anata}/ngrok
printf "ＮＧＲＯＫ設定終了\n"

printf "グロッキー起動設定：ポート${ENGBJ_Port}\n"
printf "グロッキー起動設定しました：ポート${ENGBJ_Port}\n"
env | grep "ENGBJ" | sort
echo "*********************"
echo "ｓｓｈデーモンとグロッキーデーモン起動はこれです"
printf "/content/${ENGBJ_anata}/kogule tcp ${ENGBJ_Port} -D &\n"
printf "sudo --user=${ENGBJ_anata} bash -c (/content/${ENGBJ_anata}/grocky --config /content/${ENGBJ_anata}/grocky.yml &)\n"
echo "ｓｓｈデーモンとグロッキーデーモン起動はこれです終了"
