printf "ＶＮＣサーバセッティングと起動開始\n"
rm -fr /tmp/.X11-unix 
mkdir /tmp/.X11-unix
chmod 777 /tmp/.X11-unix
cd /content/${ENGBJ_anata}
export HOME=/content/${ENGBJ_anata}
echo "ＶＮＣサーバー９９を切る"
sudo --user=${ENGBJ_anata} vncserver -kill :99
echo "ＶＮＣサーバー９９を切る終了"
printf "ＶＮＣパスワードを登録します。覚えておいてくいださいね\n"
sudo --user=${ENGBJ_anata} vncpasswd
printf "ＶＮＣパスワードを登録終了、サーバ起動\n"
sudo --user=${ENGBJ_anata} bash -c "export DISPLAY=:99.0" 
sudo --user=${ENGBJ_anata} echo "DISPLAY=${DISPLAY}"
echo " ノボックサーバーを切る"
killall websockify
echo " ノボックサーバーを切る終了"
printf "サーバセッティングと起動終了\n"
printf "sudo --user=${ENGBJ_anata}  vncserver -localhost no -xstartup `which fluxbox` -geometry 900x600 :99\n"
printf "sudo --user=${ENGBJ_anata} bash -c \"websockify --web=/usr/share/novnc $ENGBJ_WWWPort localhost:5999 &\"\n"
