printf "ＶＮＣサーバセッティングと起動開始"
sudo --user=${ENGBJ_anata} vncserver -kill :99
sudo --user=${ENGBJ_anata} vncpasswd
sudo --user=${ENGBJ_anata} export DISPLAY=:99.0 && vncserver -localhost no -xstartup `which fluxbox` -geometry 900x600 :99
printf "ＶＮＣサーバセッティングと起動終了"
printf "sudo --user=${ENGBJ_anata} websockify --web=/usr/share/novnc $ENGBJ_WWWPort localhost:5999 $ENGBJ_WWWPort &"
exit
