ROOTDIRS=/content
export PWD=${ROOTDIRS}
cd ${ROOTDIRS}
printf "ＶＮＣサーバセッティング\n"
rm -fr /tmp/.X11-unix 
mkdir /tmp/.X11-unix
chmod -fr 777 /tmp/.X11-unix
cd ${ROOTDIRS}/${ENGBJ_anata}
export HOME=${ROOTDIRS}/${ENGBJ_anata}
export PATH=${PATH}:${HOME}
echo "ＶＮＣサーバー９９を切る"
vncserver -kill :99
echo "ＶＮＣサーバー９９を切る終了"
printf "ＶＮＣパスワードを登録します。覚えておいてくいださいね\n"
mkdir ${ROOTDIRS}/${ENGBJ_anata}/.vnc/
chmod -fr 777 ${ROOTDIRS}/${ENGBJ_anata}/.vnc/
vncpasswd -f ${ROOTDIRS}/${ENGBJ_anata}/.vnc/passwd
printf "ＶＮＣパスワードを登録終了\n"
echo " ノボックサーバーを切る"
killall websockify
echo " ノボックサーバーを切る終了"
printf "サーバセッティング終了\n"
printf "サーバセッティング起動は以下です\n"
echo "vncserver -PasswordFile=${ROOTDIRS}/${ENGBJ_anata}/.vnc/passwd -localhost yes -xstartup `which fluxbox` -geometry 900x600 :99"
echo "websockify -D --web=/usr/share/novnc localhost:${ENGBJ_WWWPort} localhost:5999"
